/**
 * Fonts
 **/
/*-------------------------------------------------------------------------------------------------------*/
@font-face{
    font-family:'Biko';
    src:url(../fonts/Biko_Regular.otf);
    src:url(../fonts/Biko_Regular.otf) format('opentype');
}
@font-face{
    font-family:'Biko';
    src:url(../fonts/Biko_Bold.otf);
    src:url(../fonts/Biko_Bold.otf) format('opentype');
    font-weight:bold;
}
@font-face{
    font-family:'Helvetica Neue';
    src:url(../fonts/HelveticaNeueLight.woff);
}
@font-face{
    font-family:'Helvetica Neue';
    src:url(../fonts/HelveticaNeueMedium.woff);
    font-weight:500;
}
/*-------------------------------------------------------------------------------------------------------*/

.page { margin:0; }

/**
 * Footer styles
 **/
/*-------------------------------------------------------------------------------------------------------*/
.site-footer {
    background:#2A3E48;
    color:#FFB904;
    font-size:20px;
}
#menu-footer-menu { margin:20px 0; padding:0; }
#menu-footer-menu li{ display:inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  }
#menu-footer-menu li a { color:#FFB904; }
#menu-footer-menu li a:hover { text-decoration:underline; }
.nn-social-links { margin: 20px 0; padding: 0; text-align: right; }
.nn-social-links li { list-style-type:none; display:inline-block; margin:0 20px; }
.nn-social-links li:first-child { margin-left:0; }
.nn-social-links li:last-child { margin-right:0; }
.nn-social-links li a { color:#FFB904; }